.App {
  text-align: center;
}
.Header{
border:solid red ;
height: 50px;
}

.menuContainer{
  border:solid  orange 5px;
  height: 150px;
}

.Selection{
  border:solid  green 5px;
  height: 800px; 
  width: 500px;
  margin: 10px;
}
.image{
  border: springgreen;
  height: 500px;
  width: 500px
}

.Nutrition{
  border:solid  yellow 5px;
  height: 350px; 
  width: 800px;
  margin: 10px;
}
.Review{
  border:solid  plum 5px;
  height: 350px; 
  width: 800px;
  margin: 10px;
}

/* .grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:50% 50%;
  grid-template-areas: 
  "selection nutrition"
  "  review";
} */

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "Selection Nutrition" 
  "Selection Review";
}

.Selection { grid-area: Selection; }
.Nutrition { grid-area: Nutrition; }
.Review { grid-area: Review; }

#NavBarBttns{
  list-style-type: none;
  display: inline;
}
#NavBarBttns li{
  float: right;
  display: block;
  padding: 10px;
  margin: 5px;
  border: solid powderblue;
}

#logo{
  height: 50px;
  float: left;
}

.burgerMenu{
  width: 35px;
  height: 30px;
  background-color: red;
  position: fixed;
  left: 50%;
  cursor: pointer;
  
}