/* body{ */
  /* position: fixed; */
  /* margin: auto; */
/* } */
.App {
  text-align: center;
  background: url("/nutri_royalapp/nutri_royal/src/images/foods.jpg");
  position: absolute;
  /* position: fixed; */
  /* margin: auto; */
}
.Header{
border:solid red ;
height: 50px;
width: 100%;
}

.menuContainer{
  height: 150px;
  width: 100%;
}


.Selection{
  border:solid  green 5px;
  height: 800px; 
  width: 500px;
  margin: 10px;
}
.image{
  border: springgreen;
  height: 500px;
  width: 500px
}

.Nutrition{
  border:solid  yellow 5px;
  height: 350px; 
  width: 800px;
  margin: 10px;
}
.Review{
  border:solid  plum 5px;
  height: 350px; 
  width: 800px;
  margin: 10px;
}

/* .grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:50% 50%;
  grid-template-areas: 
  "selection nutrition"
  "  review";
} */

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "Selection Nutrition" 
  "Selection Review";
  
}

.Selection { grid-area: Selection; }
.Nutrition { grid-area: Nutrition; }
.Review { grid-area: Review; }

#NavBarBttns{
  list-style-type: none;
  display: inline;
}
#NavBarBttns li{
  float: right;
  display: block;
  padding: 10px;
  margin: 5px;
  border: solid powderblue;
}

#logo{
  height: 50px;
  float: left;
}

.burgerMenu{
  width: 35px;
  height: 30px;
  position: fixed;
  top: 70px;
  left: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around
} 


 .navBar{
  width: 100%;
  height: 150px;
  background-color: #262626;
  /* position: fixed; */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
} 



.nav-item{
  list-style: none;
  margin: 15px;
}

.nav-link{
  text-decoration: none;
  font-size: 15px;
  color: #eee;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: chocolate;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}
.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}